<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alsfox.mall">

    <!--写设置-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--读sd卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--写sd卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--联网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--联网状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--wifi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--友盟所需权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 分享QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />


    <application
        android:name=".appliaction.MallAppliaction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--***************************友盟配置***************************-->
        <!-- 友盟AppKey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56449b0ae0f55af0240017c0" />
        <!--  QQ空间和QQ SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1104850776" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--***************************友盟配置***************************-->

        <activity
            android:name="com.alsfox.mall.view.activity.index.LoadingActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--  注意这里，似乎对程序有影响，要加上-->
                <data android:scheme="wx482a514725c5cf3c" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.user.UserLoginActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.activity.index.HomeActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.activity.index.StartAppActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>